.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 50px;
 }  
 
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  position: relative;
  width: 1000px;
  height: 400px;
  border: 2px solid green;
  border-radius: 20%;
  box-shadow: -10px 2px 5px yellowgreen;
  top: 0;
  transition: top ease 0.5s;
}
